* {
    max-width: 1300px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.EXPENSE_PAR {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.exp-tracker {
    margin-top: 50px;
    height: 700px;
    width: 500px;
    padding: 20px;
    border: none;
    background-color: white;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 4px #F075AE;

}

.exp-tracker1 {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    padding: 20px;
    border: none;
    background-color: white;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 4px #F075AE;
}

h1,
p {
    background-color: transparent;
}

.exp-child1 {
    height: 70px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;
    gap: 10px;
    font-weight: 500px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: transparent;
}

label {
    background-color: transparent;
    font-size: large;
}

.input {
    height: 40px;
    width: 200px;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 5px 4px #FFDCDC;
    border-radius: 10px;
    font-size: large;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

input::placeholder {
    padding: 0px 5px;
}

select {
    height: 40px;
    width: 200px;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 4px #FFDCDC;
    border: none;
    text-align: center;


}

select:focus {
    outline: none;
}

textarea {
    height: 70px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 4px #FFDCDC;
    border: none;
    font-size: large;
    padding: 10px;
    overflow-y: scroll;
    resize: none;
}

textarea:focus {
    outline: none;
}

.exp-expenseparent {
    margin-top: 50px;
    height: auto;
    width: 600px;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: large;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 4px #F075AE;
    text-align: center;


}

.li-exp {
    border: none;
    border-radius: 25px;
}

.expense-con {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 550px;
    border: none;

    border-radius: 5px;
}

.input-expense {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.category-expense {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.inputLabel {
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;

}

.inputRadio {
    height: 20px;
    width: 20px;


}

.exp {
    height: 120px;
    width: 550px;
    background-color: whitesmoke;
    padding: 10px;
    grid-template-columns: 1fr;
    display: grid;
    background-color: white;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    box-shadow: 2px 2px 5px 4px #EBF4F6;
}

.exp-expense {
    height: 50px;
    width: 550px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;

    background-color: white;

    gap: 10px;




}

.new-exp1 {
    height: 30px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    background-color: white;
    justify-content: center;
}

.exp-child2 {

    height: 40px;
    width: 100px;
    display: flex;
    align-items: start;
    justify-content: center;

    border: none;
    margin-left: 10px;
    background-color: white;

}

.exp-child3 {
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;



}

h4 {
    background-color: white;
}

.btn-one {
    height: 30px;
    width: 100px;
    font-size: large;
    border: none;
    background-color: #48A111;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 4px #25671E;



}

.btn1 {
    height: 30px;
    width: 100px;
    font-size: large;
    border: none;
    background-color: #FEA82F;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 4px #FFC288;
}

.btn2 {
    height: 30px;
    width: 100px;
    font-size: large;
    border: none;
    background-color: #F63049;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 4px #FA5C5C;
}

.exp-detailparent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 300px;
    width: 550px;
    margin-top: 20px;
    padding: 10px;
    background-color: #CD2C58;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 4px #E06B80;


}

.exp-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 70px;
    width: 500px;
    border: 1px;
    border-radius: 25px;
}

h3,
p {
    height: 30px;
    width: 100px;
    border-radius: 25px;

}

.exp-child4 {
    height: 70px;
    width: 500px;
    border-radius: 25px;
}

.exp-view {
    margin-top: 50px;
    height: 500px;
    width: 600px;
    padding: 10px;
    border: none;
    background-color: white;
    font-size: large;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 4px #F075AE;
    text-align: center;

}